<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using MeetUp</h1>
    Please enter this PIN code in the application.
    <%= @pin_code %>
  </body>
</html>
