<div id="title">

</div>
<div class="row">
  <div id="schedule"></div>
</div>

<script>
window.App = window.App || {};
App.eventContent = <%= @event.to_json.html_safe %>;
App.eventDates = <%= @event_dates.to_json(include: :possible_dates).html_safe %>;
</script>
