<div id="title">
</div>

<div class="saved alert-success">
  Schedule has been saved
</div>

<div class="row">
  <div id="time" class="span1">
  </div>
  <div id="schedule" class="span11"></div>
</div>

<script>
  window.App = window.App || {};
  App.eventContent = <%= @event.to_json.html_safe %>;
  App.eventDates = <%= @event_dates.to_json(include: :possible_dates).html_safe %>;
</script>
</div>

