<% content_for :javascript_includes do %>
  <script>
    window.App = window.App || {};
    App.eventContent = <%= @event.to_json.html_safe %>;
    App.user = new MeetupApi.User(<%= @user.to_json.html_safe %>);
    App.eventDates = <%= @event_dates.to_json(include: :possible_dates).html_safe %>;
  </script>

  <%= javascript_include_tag "scheduler" %>
<% end %>


<div id="title" class="row-fluid">
  <h1 class="text-center"></h1>
</div>

<div id="scheduler">
</div>

<div id="heat-map">
</div>

