<% content_for :javascript_includes do %>
  <script>
    window.App = window.App || {};
    App.eventContent = <%= @event.to_json.html_safe %>;
    App.user = <%= @user.to_json.html_safe %>;
    App.eventDates = <%= @event_dates.to_json(include: :possible_dates).html_safe %>;
  </script>

  <%= javascript_include_tag "scheduler" %>
<% end %>


<div id="title" class="row-fluid">
  <h1 class="text-center"></h1>
</div>

<div class="row-fluid saved">
  <div class="span7 offset3">
    <div class="alert alert-success page-header text-center">
      Schedule has been saved
    </div>
  </div>
</div>

<div class="row-fluid no-space">
  <div class="span1"></div>
  <div class="span11">
    <div id="dates" class="row-fluid text-center">

    </div>
  </div>
</div>
<div class="row-fluid no-space">
  <div id="time" class="span1">
  </div>
  <div id="schedule" class="span11"></div>
</div>


