<div class="row-fluid no-space">
  <div class="span1"></div>
  <div class="span11">
    <div class="dates row-fluid text-center">
    </div>
  </div>
</div>
<div class="row-fluid no-space">
  <div class="time span1">
  </div>
  <div class="calendar span11"></div>
</div>
