// Place all the styles related to the scheduler controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date_label{
	font-size:45px;
	display:inline-block;
	border-left-width: 1px;
	border-color: white;
	border-left-style: solid;
	padding-bottom: 10px
}

.time_label{
	font-size:40px;
	display: block
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif
}

.saved {
  visibility: hidden;
  font-size: 28pt;
}

.cell {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.no-space [class*="span"] {
    margin-left: 0;
}

.selected {
  background-color: #339933
}

.unselected {
  background-color: #DCDDDD;
}

